.wrapper {
  display: flex;

  align-items: center;
  gap: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  margin: 30px;
}
