.right {
  .carousel-enter {
    opacity: 0;
    transform: translateX(-30%);
  }
  .carousel-enter-active {
    opacity: 1;
    transform: translateX(0%);
  }
  .carousel-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  .carousel-exit-active {
    opacity: 0;
    transform: translateX(30%);
  }
  .carousel-enter-active,
  .carousel-exit-active {
    transition: opacity 300ms, transform 500ms;
  }
}

.left {
  .carousel-enter {
    opacity: 0;
    transform: translateX(30%);
  }
  .carousel-enter-active {
    opacity: 1;
    transform: translateX(0%);
  }
  .carousel-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  .carousel-exit-active {
    opacity: 0;
    transform: translateX(-30%);
  }
  .carousel-enter-active,
  .carousel-exit-active {
    transition: opacity 300ms, transform 300ms;
  }
}
