@import '../colors';
@import '../vars';
.img {
  object-fit: cover;
}
.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    'notF people'
    'text people';
  gap: 20px;
  @media (max-width: $mobile) {
    grid-template-areas:
      'notF '
      'text '
      'people';
  }
}

.text {
  text-transform: uppercase;
  font-size: large;

  color: $color-text-sub;
  align-self: start;
  grid-area: text;
}

.notF {
  align-self: end;
  grid-area: notF;
}

.people {
  grid-area: people;
}
