@import '../colors';
@import '../vars';
.quote {
  display: flex;
  flex-direction: column;

  align-items: flex-end;

  text-align: right;
}

blockquote {
  font-size: large;
  color: $dark-green;
  @media (min-width: $tablet) {
    width: 50%;
  }
}
figcaption {
  font-style: italic;
  color: $color-text-sub;
}
