$light-biege: #fff8ee;
$light: #faf7f3;
$light3: #fffaf2;
$light2: #e1ded9;
$medium-grey: #dddddd;
$medium-biege: #e3e0da;
$biege: #f9ede2;
$dark-biege: #5f5f5f;
$medium-grey: #c4c1bb;
$brown: #c47344;
$coral: #f07556;
$pink: #f79e88;
$pink2: #f9a28f;
$light-pink: #f7d5d9;

$blue: #627a94;
$dark-blue: #27374d;
$green: #4ca389;
$dark-green: #356b68;
$blue-green: #32686f;
$brown-green: #b38740;

$white: #ffffff;
$black: #322f2e;

// $color-main: $brown;
$color-card: $light3;
$color-btn-main: $dark-green;
$color-btn-second: $pink2;
$color-btn-third: $biege;
$color-section: $light;

$color-tb-head: $medium-biege;
$color-tb-text: $dark-biege;
$color-tb-row: $biege;
$color-selection: $medium-grey;
$color-isEdit: $pink2;

$color-stroke: $medium-grey;
$color-stroke2: $white;

$color-delete: $coral;
$color-edit: $blue;
$color-save: $green;

$color-bg: linear-gradient($light-biege 90%, rgba($light-biege, 0));
// $color-bg: linear-gradient($light-biege, rgba($light-biege, 0));

$color-text-main: $black;
$color-text-sub: $dark-biege;
